<div class="container">
  <div class="title">
    <h1>Welcome to coolTravel!</h1>
  </div>
  <div class="button-container">
    <div class="btn btn-nav">
      <%= link_to "Go to travels", travels_path %>
    </div>
  </div>
</div>
